body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
}
h2, h3, h4 {
  margin: 0;
  padding: 10px;
}
/*Header & Logo Styling*/
header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid seashell;
}
header img {
  height: 50px;
  padding-left: 10px;
}
/*Navigation Content Styling*/
nav {
  text-align: right;
  flex-grow: 1;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
a {
  color: seashell;
}
/*Main Content Styling*/
.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}
#mission {
  background-image: url("../images/mission-background.jpg");
  height: 700px;
  padding-top: 70px;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}
/*Tea of the Month Styling*/
#tea-month {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 20px;
}
.item img {
  height: 200px;
  margin: 10px;
  display: block;
}
.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}
.item {
  padding: 5px;
}
/*Locations Styling*/
#locations {
  height: 500px;
  background-image: url("../images/locations.jpg");
  padding-top: 70px;
}
.location {
  background-color: black;
  opacity: 1.0;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px 20px;
}
.flex-container.locations {
  padding-top: 5px;
}
#locations .flex-container {
  margin: auto;
  width: 1100px;
}
